<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %-55logger - %msg [%t]%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="de.amr.games.pacman.model.common.actors.Creature" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.model.common.GhostHouseRules" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.model.common.GameLevel" level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.model.common.GameModel" level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.event.GameEvents" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.lib.fsm.Fsm" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.lib.FollowRoute" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.lib.steering.RouteBasedSteering" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.ui.fx.shell.GameUI" level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.ui.fx._3d.animation.PortalTraversalAnimation" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.ui.fx.input.Keyboard" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="de.amr.games.pacman.ui.fx.sound.GameSounds" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>