@font-face {
    font-family: "Emulogic";
    src: url("/de/amr/pacmanfx/uilib/fonts/emulogic.ttf");
}

/* Custom context menu posture */

.custom-menu-item:hover {
    -fx-background-color: transparent;
    -fx-fill: black;
}

.custom-menu-title-item,
.custom-menu-title-item:hover {
    -fx-font-family: "Dialog";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-stroke: #333;
}

/* Start pages */

#start-pages-carousel {
    -fx-background-image: url("/de/amr/pacmanfx/ui/graphics/pacman_wallpaper.png");
}

.carousel-nav {
    -fx-opacity: 0.1;
}

.carousel-nav:hover {
    -fx-opacity: 0.6;
}

.carousel-nav .font-awesome-icon {
    -fx-size: 48;
    -fx-fill: rgb(222, 222, 255);
}

.game-start-button-container {
    -fx-background-color: rgb(0, 155, 252, 0.6);
}

.game-start-button {
    -fx-font-family: "Emulogic";
    -fx-font-size: 32;
    -fx-text-fill: green;
}

/* Start page progress bar */

.progress-bar {
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: transparent;
}

.progress-bar .bar {
    -fx-background-color: rgba(0, 155, 252, 0.7); /* same color as START button */
}

.link-button {
    -fx-background-color: transparent;
    -fx-text-fill: #0066cc;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.link-button:hover {
    -fx-text-fill: #003366;
}

#paused-icon {
    -fx-size: 80;
    -fx-fill: rgb(222, 222, 255);
}


/* Status icon box: "muted", "3D mode", "immunity" etc. */

#status-icon-box .font-awesome-icon {
    -fx-size: 24;
}

#status-icon-box .font-awesome-icon {
    -fx-fill: rgb(222, 222, 255);
}

#status-icon-box #icon-cheated {
    -fx-fill: red;
}

/* Padding and spacing of icons inside status icon box. Border only for debugging. */
#status-icon-layout {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-border-color: #fff;
    -fx-border-width: 0px;
}


/* Option Menu (Pac-Man XXL) */

.option-menu {
    -fx-border-color: #999;
    -fx-border-width: 1px;
}

/* --- Dashboard --- */

.dashboard .titled-pane .content {
    -fx-background-color: #ffffff;
}

.dashboard-section > .title > .text {
    -fx-font-family: "Cambria";
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.dashboard-section {
    -fx-pref-width: 330;
    -fx-min-width:  330;
    -fx-max-width:  450;
    -fx-opacity: 0.8;
    -fx-font-family: "Tahoma";
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-text-fill: #000;
    -fx-text-stroke: #000;
}

.dashboard-section-grid {
    -fx-vgap: 4;
    -fx-hgap: 2;
}

.dashboard-section .label {
    -fx-min-width:  110px;
    -fx-min-height: 18px;
}

.dashboard-section .slider {
    -fx-pref-width: 160px;
}

.dashboard-section .table-view {
    -fx-pref-width: 320px;
}