@font-face {
    font-family: "Emulogic";
    src: url("/de/amr/pacmanfx/uilib/fonts/emulogic.ttf");
}


/* Custom context menu style */

.custom-menu-item:focused,
.custom-menu-item:hover,
.custom-menu-item:armed {
    -fx-background-color: transparent;
    -fx-text-fill: black; /* or your desired text color */
}

/* Start pages button */

.game-start-button-container {
    -fx-background-color: rgb(0, 155, 252, 0.6);
}

.game-start-button {
    -fx-font-family: "Emulogic";
    -fx-font-size: 32;
    -fx-text-fill: green;
}

/* Start page progress bar */

.progress-bar {
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: transparent;
}

.progress-bar .bar {
    -fx-background-color: rgba(0, 155, 252, 0.7); /* same color as START button */
}

.link-button {
    -fx-background-color: transparent;
    -fx-text-fill: #0066cc;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.link-button:hover {
    -fx-text-fill: #003366;
}

#paused-icon {
    -fx-size: 80;
    -fx-fill: rgb(222, 222, 255);
}

/* Navigation icons in start pages carousel */
#start-pages-carousel .carousel-nav .font-awesome-icon {
    -fx-size: 48;
    -fx-fill: rgb(222, 222, 255);
}

/* Status icon box: "muted", "3D mode", "immunity" etc. */

#status-icon-box .font-awesome-icon {
    -fx-size:  32;
}

#status-icon-box .font-awesome-icon {
    -fx-fill: rgb(222, 222, 255);
}

#status-icon-box #icon-cheated {
    -fx-fill: red;
}

/* Padding and spacing of icons inside status icon box. Border only for debugging. */
#status-icon-layout {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-border-color: #fff;
    -fx-border-width: 0px;
}