/* Custom context menu style */

.custom-menu-item:focused,
.custom-menu-item:hover,
.custom-menu-item:armed {
    -fx-background-color: transparent;
    -fx-text-fill: black; /* or your desired text color */
}
